aenum==3.1.0
aiohttp==3.10.2
aiosignal==1.2.0
alembic==1.7.6
anyio==3.5.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
ase==3.22.1
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
bash_kernel==0.7.2
batchspawner==0.9.0.dev0
black
bleach==4.1.0
bokeh==2.4.2
boltons==21.0.0
cached-property==1.5.2
certifi==2021.10.8
certipy==0.1.3
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.11
click==8.0.3
cloudpickle==2.0.0
cmake==3.20.2
cryptography==36.0.1
cupy-cuda110==10.1.0
cycler==0.11.0
cytoolz==0.11.0
dask==2022.1.1
dask-labextension==5.2.0
debugpy==1.5.1
decorator
defusedxml==0.7.1
devtools==0.6.1
dill==0.3.3
distributed==2022.1.1
distro==1.5.0
docopt==0.6.2
entrypoints==0.4
executing==0.8.2
fastrlock==0.8
Flask==1.1.2
fonttools==4.29.1
frozenlist==1.3.0
fsspec==2024.6.0
graphviz==0.19.1
greenlet==1.1.2
gt4py @ git+https://github.com/GridTools/gt4py.git@d0908cd8b1512d216dc29633bcd16638dbd71843
HeapDict==1.0.1
idna==3.3
ipcluster-magics==1.0.2
ipykernel==6.9.0
ipympl==0.8.7
ipyparallel==8.2.0
ipyparaview==0.1.2b0
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
itsdangerous==1.1.0
jedi==0.18.1
Jinja2==3.0.3
json5==0.9.6
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyter-resource-usage==0.6.1
jupyter-server==1.13.5
jupyter-server-proxy==3.2.1
jupyter-telemetry==0.1.0
jupyter_utils==0.1
jupyterhub==1.4.2
jupyterlab==3.2.8
jupyterlab-code-formatter==1.4.10
jupyterlab-nvdashboard==0.6.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-system-monitor==0.8.0
jupyterlab-topbar==0.6.1
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
locket==1.0.0
Mako==1.1.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
mpi4py==3.1.4
mpmath==1.2.1
msgpack==1.0.3
multidict==6.0.2
mypy-extensions==0.4.3
nbclassic==0.3.5
nbclient==0.5.10
nbconvert==6.4.1
nbformat==5.1.3
nbresuse==0.4.0
nest-asyncio==1.5.4
networkx==2.5.1
nglview==3.0.3
notebook==6.4.8
numpy==1.20.0
oauthlib==3.2.0
packaging==24.1
pamela==1.0.0
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.2
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pip==24.0
platformdirs==2.4.1
ply==3.11
prometheus-client==0.13.1
prompt-toolkit==3.0.27
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pybind11==2.6.2
pycparser==2.21
pydantic==1.7.4
pyexpect==1.0.21
Pygments==2.11.2
pynvml==11.4.1
pyOpenSSL==22.0.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.1
python-json-logger==2.0.2
PyYAML==6.0
pyzmq==22.3.0
regex==2021.4.4
requests==2.27.1
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
scikit-build==0.11.1
scipy==1.10.1
Send2Trash==1.8.0
setuptools==49.2.1
simpervisor==0.4
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.31
stack-data==0.1.4
sympy==1.9
tabulate==0.8.9
tblib==1.7.0
terminado==0.13.1
testpath==0.5.0
toml==0.10.2
tomli==2.0.1
toolz==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.0.1
typing-inspect==0.6.0
urllib3==1.26.8
virtualenv-clone==0.5.4
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
websockets==9.1
Werkzeug==1.0.1
wheel==0.43.0
widgetsnbextension==3.5.2
xxhash==2.0.2
yarl==1.7.2
zict==2.0.0
