aenum==3.1.0
appdirs==1.4.4
astunparse==1.6.3
attrs==20.3.0
backcall==0.2.0
black==21.5b2
boltons==21.0.0
cached-property==1.5.2
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
cmake==3.20.2
cupy-cuda110==10.1.0
cycler==0.10.0
cytoolz==0.11.0
#dace @ git+https://github.com/spcl/dace.git@74f67e3fc82b54f248cb9cc0877b4e629e04026c
decorator==4.4.2
devtools==0.6.1
dill==0.3.3
distro==1.5.0
fastrlock==0.6
Flask==1.1.4
gt4py @ git+https://github.com/gridtools/gt4py.git@9fa835cb14127a3a37ad3d5b33f2988ed807e737
idna==2.10
ipykernel==5.5.5
ipython==7.31.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jupyter-client==6.1.12
jupyter-core==4.7.1
kiwisolver==1.3.1
Mako==1.2.2
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mpi4py==3.1.4
mpmath==1.2.1
mypy-extensions==0.4.3
networkx==2.5.1
numpy==1.20.0
packaging==20.9
parso==0.8.2
pathspec==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
ply==3.11
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pybind11==2.6.2
pydantic==1.7.4
Pygments==2.9.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
pyzmq==22.1.0
regex==2021.4.4
requests==2.25.1
scikit-build==0.11.1
six==1.16.0
sympy==1.9
tabulate==0.8.9
toml==0.10.2
toolz==0.11.1
tornado==6.1
traitlets==5.0.5
typing-extensions==3.10.0.0
typing-inspect==0.6.0
urllib3==1.26.5
virtualenv-clone==0.5.4
wcwidth==0.2.5
websockets==9.1
Werkzeug==1.0.1
xxhash==2.0.2
